* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --branco: #ffffff;
    --azul_claro: #00b3e3;
    --azul: #082C5B;
    --preto: black;
    --laranja: #F37500;
   
}

/* Início - Cabeçalho */

header {
    background-color: var(--branco);
    box-shadow: #2f303d25 2px 6px 5px;
    padding-bottom: 10px;
    gap: 50px;
}

.logo1 {
    padding-top: 10px;
    width: 205px;
    margin-left: -60px;
    padding-left: 50px;
}

.text-nav {
    gap: 20px;
    text-decoration: none;
    align-items: center;
    font-family: 'Microsoft JhengHei UI', sans-serif;
    color: #000;
    font-size: 15px;
}

.text-nav:hover {
    color: var(--laranja);
}

.doe-agora {
    font-size: 15px;
    gap: 20px;
    text-decoration: none;
    margin-left: 50px;
    align-items: center;
    font-family: 'Microsoft JhengHei UI', sans-serif;
    color: var(--branco);
    background-color: var(--laranja);
    border-radius: 25px;
    border-color: var(--laranja);
    border: none;
    padding: 10px;
}

.doe-agora:hover {
    color: var(--laranja);
    background-color: var(--branco);
    border-color: var(--laranja);
    border: 2px solid var(--laranja);
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 580px;
}
  
.input {
    font-family: 'Microsoft JhengHei UI', sans-serif;
    width: 100%;
    height: 30px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 23px;
    background-color: var(--branco);
    outline: none;
    cursor: text;
    color: var(--cinza);
    z-index: 0;
}
  
.input::placeholder {
    color: var(--cinza);
}
  
.input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}
  
.input:active {
    transform: scale(0.95);
}
  
.input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
    width: 800px !important;
    border: none;
}

.search-icon {
    position: absolute;
    left: 1rem;
    fill: #89898c;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
}

.text-nav3 {
    gap: 20px;
    text-decoration: none;
    align-items: center;
    font-family: 'Microsoft JhengHei UI', sans-serif;
    color: #000;
    font-size: 15px;
    border: 2px solid transparent; 
}

.text-nav3:hover {
    color: var(--laranja);
    background-color: var(--branco);
    border-color: var(--laranja);
}

.btn-lar {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 10px;
    border-radius: 15px;
}

/* Fim - Cabeçalho */

/* Início - MAIN */

main {
    background-color: var(--azul);
    padding-bottom: 90px;
}

.text-primary{
    color: var(--branco) !important;
    font-weight: bold;
    padding-left: 135px;
    padding-top: 20px;
    padding-bottom: 0px;
}

.card {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 20px;
}

.bold{
    font-weight: bold;
    padding-bottom: 15px;
}

.submit {
    background-color: var(--azul_claro);
    border: none;
    border-radius: 10px;
    padding: 10px 35px;
    font-size: 14px;
    width: auto;
    display: block;
    margin: 10px auto;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    color: var(--azul);
}

.submit:hover {
    background-color: var(--azul);
    color: var(--branco);
    font-weight: bold;
}

.display {
    display: flex;
}

.espaco {
    padding-left: 15px;
}

/* Fim - MAIN */

/* Início - Rodapé */

footer {
    background-color: var(--branco);
    padding-top: 30px;
}

.logo2 {
    padding-top: 10px;
    padding-right: 30px;
    width: 170px;
    margin-left: 79px;
}

.p-t {
    padding-bottom: 40px;
}

.tam {
    width: 67%;
}

.tam2 {
    font-size: 18px;
}

.tam3 {
    font-size: 18px;
}

.azul {
    background-color: var(--azul);
    color: var(--branco);
    padding: 10px;
}

.azul h5 {
    font-weight: normal;
}

.space {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.imgfooter {
    width: 30px;
}

.alt {
    width: 35px;
}

.margin {
    margin-bottom: 18px !important;
}

/* Fim - Rodapé */

/* Responsivo */

@media (max-width: 426px) {
    /* Início - Cabeçalho */

    header {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-bottom: 48px;
        text-align: center;
    }
    
    .logo1 {
        width: 150px;
        margin: 0;
        padding: 0;
        padding-top: 18px;
    }

    .group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .input {
        width: 80%;
        max-width: 380px;
        margin-bottom: 1px;
        resize: none;
        transform: none;
        width: auto;
    }
    
    .text-nav {
        padding-left: 0;
        font-size: 15px;
        margin-bottom: 12px;
    }

    .text-nav3 {
        margin-bottom: 40px !important;
    }

    .text-nav3 {
        margin-bottom: 30px;
    } 
    
    .btn-lar {
        margin-bottom: 30px;
    }

    /* Fim - Cabeçalho */

    /* Início - MAIN */

    main {
        padding-bottom: 50px;
    }

    .text-primary2 {
        margin-top: 30px;
    }

    /* Fim - MAIN */

    /* Início - Rodapé */

    footer {
        padding-top: 18px;
        margin-top: 0px;
        text-align: center;
    }

    .tamanho {
        font-size: 25px;
    }

    .logo2 {
        margin: auto;
        margin-bottom: 55px;
        margin-top: 40px;
        padding-top: 0px;
        padding-right: 0px;
    }

    .tam {
        width: 160px;
        margin-bottom: 27px;
    }

    .space {
        flex-wrap: wrap;
        gap: 10px;
        padding-bottom: 45px;
    }

    .imgfooter {
        width: 30px;
    }

    .alt {
        width: 35px;
    }

    .p-t {
        padding-bottom: 10px;
    }

    .p-tt {
        padding-bottom: 10px;
    }

    /* Fim - Rodapé */
}

@media (max-width: 376px) {
    /* Ajustes */

    .input {
        max-width: 340px;
    }

    .group {
        margin-bottom: 0px;
    }

    .text-primary {
        padding-left: 13px;
    }

    .text-primary2 {
        margin-top: 0px;
    }
}

@media (max-width: 321px) {
    /* Ajustes */

    .input {
        max-width: 300px;
    }

    .input:focus {
        font-size: 13.8px;
    }

    .tam3 {
        font-size: 16px;
    }
}